<nav class="navbar navbar-expand-lg navbar-light" style="height: 15vh;">
    <div>
        <ul class="navbar-nav"id="buttons" margin: 20px;">
            <li class="nav-item btn btn-primary">
                <a class="nav-link text-white" href="/login" style="color: black; padding: 30px; font-size:larger ;">Login</a>
            </li>
            <li class="nav-item btn btn-primary">
                <a class="nav-link text-white" href="/user" style="color: black; padding: 30px; font-size:larger ;">Profile</a>
            </li>
            <li class="nav-item btn btn-primary">
                <a class="nav-link text-white" href="/logout"style="color: black; padding: 30px; font-size:larger ;">Logout</a>
            </li>
        </ul>
    </div>
</nav>