{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">

    <div id="particles-js" class="container1">
        <div id="vick" class="division wrapper fadeInDown">
            <h3 class="text-center login-text" id="login"> Sign Up</h3>
            <div class="division" id="centered-card">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">{{wtf.quick_form(form)}}</div>
                    <div class="col-md-3"></div>
                </div>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>

</div>
{% endblock%}